*{
margin: 0;
padding:0;
outline: none;
box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #131419;
}
.container{
max-width: 768px;
padding: 25px;
border-radius: 10px;
background-color: #dde1e7;
box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94,104,121,0.288);
background-color: #131419;
box-shadow: 2px 2px 5px rgba(0,0,0,0.5),-3px -3px 7px rgba(255,255,255,0.05) 
}
.container .keys{
    display: flex;
    justify-content: center;
}
.container .keys button{
    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: #131419;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5),-3px -3px 7px rgba(255,255,255,0.05);
    margin: 10px;
    color: #c7c7c7;
    font-size: 20px;
    border-radius: 5px;
}
.container .keys .pressed{
font-size: 19px;
color: #eeff00;
box-shadow: inset 2px 2px 5px rgba(0,0,0,0.5),inset -3px -3px 7px rgba(255,255,255,0.05);

}